SequenceClient/Connected Services/ServiceReference1/fibonacci.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="vadikorzh.com.com.com" elementFormDefault="qualified" targetNamespace="vadikorzh.com.com.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Reset">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Next">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NextResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Current">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CurrentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>