SequenceClient/Connected Services/ServiceReference1/fibonacci.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="vadikorzh.com.com.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="vadikorzh.com.com.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="vadikorzh.com.com.com/Imports">
      <xsd:import schemaLocation="http://localhost:34455/fibonacci?xsd=xsd0" namespace="vadikorzh.com.com.com" />
      <xsd:import schemaLocation="http://localhost:34455/fibonacci?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISequenceServer_Reset_InputMessage">
    <wsdl:part name="parameters" element="tns:Reset" />
  </wsdl:message>
  <wsdl:message name="ISequenceServer_Reset_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetResponse" />
  </wsdl:message>
  <wsdl:message name="ISequenceServer_Next_InputMessage">
    <wsdl:part name="parameters" element="tns:Next" />
  </wsdl:message>
  <wsdl:message name="ISequenceServer_Next_OutputMessage">
    <wsdl:part name="parameters" element="tns:NextResponse" />
  </wsdl:message>
  <wsdl:message name="ISequenceServer_Current_InputMessage">
    <wsdl:part name="parameters" element="tns:Current" />
  </wsdl:message>
  <wsdl:message name="ISequenceServer_Current_OutputMessage">
    <wsdl:part name="parameters" element="tns:CurrentResponse" />
  </wsdl:message>
  <wsdl:portType name="ISequenceServer">
    <wsdl:operation name="Reset">
      <wsdl:input wsaw:Action="vadikorzh.com.com.com/ISequenceServer/Reset" message="tns:ISequenceServer_Reset_InputMessage" />
      <wsdl:output wsaw:Action="vadikorzh.com.com.com/ISequenceServer/ResetResponse" message="tns:ISequenceServer_Reset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Next">
      <wsdl:input wsaw:Action="vadikorzh.com.com.com/ISequenceServer/Next" message="tns:ISequenceServer_Next_InputMessage" />
      <wsdl:output wsaw:Action="vadikorzh.com.com.com/ISequenceServer/NextResponse" message="tns:ISequenceServer_Next_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Current">
      <wsdl:input wsaw:Action="vadikorzh.com.com.com/ISequenceServer/Current" message="tns:ISequenceServer_Current_InputMessage" />
      <wsdl:output wsaw:Action="vadikorzh.com.com.com/ISequenceServer/CurrentResponse" message="tns:ISequenceServer_Current_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>